In [1]:
import pandas as pd
import numpy as np

C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (


##                   Finding Q_Star

In [2]:
# Q_star = (2DA/H(1-D/P)) ^ -1
def Q_star_calculator(P, D, h, A):
    return ((2 * D * A)/ (h * (1- D/P))) ** 0.5

In [3]:
dt = pd.DataFrame({
    "P": [12000000, 9000000, 6000000], # production in year(* 300)  
    "D": [3448297, 2651357, 2858575],  
    "h": [23000, 31000, 53000],        
    "A": [16000000, 14000000, 12000000]})
dt.index = ['Japan', 'Germany', 'USA']

In [4]:
dt

                P        D      h         A
Japan    12000000  3448297  23000  16000000
Germany   9000000  2651357  31000  14000000
USA       6000000  2858575  53000  12000000

In [5]:
Q_star = {
    'Japan' : [],
    'Germany' : [],
    'USA' : []
}

for i in ['Japan', 'Germany', 'USA']:
    Q_star[i] = round(Q_star_calculator(dt.loc[i]['P'], 
                                  dt.loc[i]['D'],
                                  dt.loc[i]['h'],
                                  dt.loc[i]['A']), 2)

In [6]:
Q_star

{'Japan': 82049.84, 'Germany': 58265.71, 'USA': 49722.71}